{% extends 'registration/layout.html' %}
                    {% block content %}
                    <div class="login">
                        <div class="box">
                            <div class="header">
                                <h1 class="text-center">{% block title %}{{ title }}{% endblock %}</h1>
                            </div>
                            <div class="content">
                                {% if validlink %}
                                    <p>{{ gettext("Please enter your new password twice so we can verify you typed it in correctly.") }}</p>

                                    <div class="error">
                                        {% if form.non_field_errors() %}
                                        {% for error in form.non_field_errors() %}
                                        <p class="text-danger">
                                            {{ error }}
                                        </p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form loginBox">
                                        <form method="post">
                                            {% csrf_token %}
                                            <input id="password" class="form-control" type="password" placeholder="Пароль"
                                                   name="new_password1">
                                            {% for error in form.new_password1.errors %}
                                                <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                            <input id="password" class="form-control" type="password" placeholder="Повторите пароль"
                                                   name="new_password2">
                                            {% for error in form.new_password2.errors %}
                                                <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                            <input class="btn btn-default btn-login" type="submit" value="{{ gettext("Change my password") }}">
                                        </form>
                                    </div>
                                {% else %}
                                    <p>{{ gettext("The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.") }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endblock %}