{% extends 'registration/layout.html' %}
                    {% block content %}
                    <div class="login">
                        <div class="box">
                            <div class="header">
                                <h1 class="text-center">{% block title %}{{ title }}{% endblock %}</h1>
                            </div>
                            <div class="content">
                                <p>{{ gettext("Your password has been set.  You may go ahead and log in now.") }}</p>
                                <div class="form loginBox">
                                    <a class="btn btn-default btn-login" href="{{ url('login') }}">Войти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}