{% extends 'layout.html' %}
{% block title %}Экспорт моих заявок{% endblock %}

{% block content %}
<div class=" request-search-page">
    <h2>Экспорт моих заявок</h2>
    <form class="form-horizontal" method="post" id="requests_search_form">
        {% csrf_token %}
        {% if request_not_found %}
            <div class="alert alert-warning">Заявки не найдены</div>
        {% endif %}
        <div class="form-group">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <label for="id_search_value">Дата создания</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                    <input type="text" class="form-control" name="daterange" value="{% if form.daterange_start.value() and form.daterange_end.value() %}{{ form.daterange_start.value() }} - {{ form.daterange_end.value() }}{% endif %}">
                    <input type="hidden" id="id_daterange_start" name="daterange_start" value="{{ form.daterange_start.value() or '' }}">
                    <input type="hidden" id="id_daterange_end" name="daterange_end" value="{{ form.daterange_end.value() or '' }}">
                </div>
            {% for error in form.daterange_start.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
            {% for error in form.daterange_end.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-xs-12">
            {{ bootstrap_field(form.export_fields) }}
        </div>
        <div class="row form-submit">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-sm btn-fill" type="submit"><span class="fa fa-download"></span> Создать документ</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block js_footer %}
    {{ super() }}
    {% stylesheet 'daterangepicker' %}
    {% javascript 'daterangepicker' %}
    {% stylesheet 'select2' %}
    {% javascript 'select2' %}

    {% javascript 'export' %}
{% endblock %}