{% extends 'layout.html' %}
{% block title %}Изменение станции{% endblock %}

{% block content %}

<div class="">
    <h3>Изменение станции</h3>
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <form action="" method="post" class="form form-horizontal" id="stantion_edit_form">
                {% csrf_token %}
                {{  bootstrap_form(form, layout='horizontal' ) }}
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-fill btn-primary"><span class="fa fa-check"></span> Сохранить</button>
                        <button type="submit" name="delete" value="true" class="btn btn-fill btn-danger"><span class="fa fa-trash"></span> Удалить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}