{% extends 'layout.html' %}
{% block title %}Станции{% endblock %}

{% block content %}
<div class="">
    <h3>Станции
        <a class="btn btn-primary btn-fill pull-right" href="{{ url('stantion_create') }}"><span class="fa fa-plus"></span> Добавить станцию</a>
    </h3>
    <br>
    <div class="row">
        <div class="col-xs-12">
            {% if object_list %}
            {% include 'pagination.html' %}
            <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Организация</th>
                <th>Рег. номер</th>
                <th>Адрес пункта ТО</th>
                <th>Эксперты</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.org_title }}
                        {% if object.active %}
                        <br><span class="label label-success">Включена</span>
                        {% endif %}
                    </td>
                    <td>{{ object.reg_number }}</td>
                    <td>{{ object.point_address }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for expert in object.expert_set.all() %}
                            <li>{{ expert }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-default" data-toggle="tooltip" title="Редактирование" href="{{ url('stantion_edit',pk=object.pk) }}"><span class="fa fa-edit"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            {% include 'pagination.html' %}
            {% else %}
                <div class="alert alert-info">Станции не найдены</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}