<div class="modal fade" tabindex="-1" role="dialog" id="alert_messages_pay_alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Необходимо оплатить</h4>
            </div>
            <div class="modal-body">
                У вас не оплачено <strong>{{ request.user.balance | int | abs }}<span class="fa fa-rub"></span></strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->