<div class="modal fade" tabindex="-1" role="dialog" id="users_change_comment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменение комментария для <span class="users-comment-username"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="id_email">Комментарий</label>
                    <textarea class="form-control" id="id_comment" name="comment" placeholder="Комментарий" rows="5" required=""></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-fill" id="users-comment-save">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->